<!--Footer starts-->
<footer class="page-footer bg-olive-dark text-white font-small purple pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Online Vehicle License</h5>
                <img src="../assets/nic-logo.png" height="30" class="img-fluid" alt="" loading="lazy">
                <img src="../assets/digital-india-icon.png" height="40" class="img-fluid" alt="" loading="lazy">
                <p>This Website belongs to Ministry of Road Transport & Highways (MoRTH)
                    Government of India</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md mb-md-0 mb-3">

                <!-- Links -->
                <ul class="list-unstyled">
                    <li class="pb-1 mb-2 border-bottom border-white">
                        <span class="font-weight-bold"> Terms and Policies </span>
                    </li>
                    <li>
                        <a href="/privacy-policy">Privacy policy</a>
                    </li>
                    <li>
                        <a routerLink="/hyperlink-policy">Hyperlink policy</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md mb-md-0 mb-3">

                <!-- Links -->


                <ul class="list-unstyled">
                    <li class="pb-1 mb-2 border-bottom border-white">
                        <span class="font-weight-bold"> Quick Links </span>
                    </li>
                    <li>
                        <a (click)="onActClick()">Act, Rules & Policies</a>
                    </li>
                    <li>
                        <a routerLink="/permit">Permit</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md mb-md-0 mb-3">

                <!-- Links -->


                <ul class="list-unstyled">
                    <li class="pb-1 mb-2 border-bottom border-white">
                        <span class="font-weight-bold"> Need Help </span>
                    </li>
                    <li>
                        <a routerLink="/contact">Contact Us</a>
                    </li>
                    <li>
                        <a routerLink="/FAQ">FAQs</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <hr>
        © 2021 Copyright:
        <a href="https://www.maharashtra.gov.in/1125/Home"> Govt. of Maharashtra</a>
    </div>
    <!-- Copyright -->

</footer>
<!--Footer ends-->