<app-indexcarousel></app-indexcarousel>
<app-marquee></app-marquee>
<!--License Service Starts-->
<div class="index-section">
    <section class="container-fluid py-3 bg-3" id="blog">
        <h3 class="margin text-center">License Related Services</h3><br>
        <div class="row">
            
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <p><img class="card-img-top" src="../assets/v-learners-license-services.jpg" alt="Card image cap"></p>
                    <div class="card-body">
                        <h5 class="card-title">Drivers/ Learners License</h5>
                        <p class="card-text">License registration on your fingertips</p>
                        <br>
                    </div>
                    <div class="card-footer">
                        <a routerLink="/login" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <p><img class="card-img-top" src="../assets/v-online-test-appointment.jpg" alt="Card image cap"></p>
                    <div class="card-body">
                        <h5 class="card-title">Online Test/ Appointment</h5>
                        <p class="card-text">Book/ Modify Online test appointments</p>
                        <br>
                    </div>
                    <div class="card-footer">
                        <a routerLink="/login" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <p><img class="card-img-top" src="../assets/v-driving-license.jpg" alt="Card image cap"></p>
                    <div class="card-body">
                        <h5 class="card-title">Other Services</h5>
                        <p class="card-text">Explore the plethora of services related to Driving License</p>
                    </div>
                    <div class="card-footer">
                        <a routerLink="/login" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
          </div>
    </section>
</div>
<!--License Service Ends-->

<!--Challan Service Starts-->
<div class="index-section bg-olive">
    <section class="container-fluid py-3 bg-3" id="blog">
        <h3 class="margin text-center text-white">Public Media</h3><br>
        <div class="row">
            
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <p><img class="card-img-top" src="../assets/v-act-policy.jpg" alt="Card image cap"></p>
                    <div class="card-body">
                        <h5 class="card-title">Acts, Rule and Policies</h5>
                        <p class="card-text">All you need to know about Motor Vehicle Rules and related Acts</p>
                    </div>
                    <div class="card-footer">
                        <a class="card-link" (click)="onActClick()">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <p><img class="card-img-top" src="../assets/v-parivahan-news-letter.jpg" alt="Card image cap"></p>
                    <div class="card-body">
                        <h5 class="card-title">Parivahan Newsletter</h5>
                        <p class="card-text">Monthly newsletter highlighting our achievements, progress and Focus.</p>
                    </div>
                    <div class="card-footer">
                        <a class="card-link" (click)="onPublicMediaClick()">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <p><img class="card-img-top" src="../assets/v-press-coverage.jpg" alt="Card image cap"></p>
                    <div class="card-body">
                        <h5 class="card-title">Latest Press Coverage</h5>
                        <p class="card-text">Coverage of project developments in news and media</p>
                    </div>
                    <div class="card-footer">
                        <a class="card-link" (click)="onLatestPressClick()">Read more</a>
                    </div>
                </div>
            </div>
          </div>
    </section>
</div>
<!--Challan Service Ends-->

<!--Informational Service Starts-->
<div class="index-section">
    <section class="container-fluid py-3 bg-3" id="blog">
        <h3 class="margin text-center">Informational Services</h3><br>
        <div class="row">
            
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <p><img class="card-img-top" src="../assets/v-notification-advisiory.jpg" alt="Card image cap"></p>
                    
                    <div class="card-body">
                        <h5 class="card-title">Notifications & Advisories</h5>
                        <p class="card-text">Latest updates from MoRTH, Meity and other related Govt. authorities</p>
                    </div>
                    <div class="card-footer">
                        <a class="card-link" (click)="onNotificationClick()">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <p><img class="card-img-top" src="../assets/v-licence-registration-details.jpg" alt="Card image cap"></p>
                    <div class="card-body">
                        <h5 class="card-title">License & Registration Details</h5>
                        <p class="card-text">Identify basic details with License and Registration Details</p>
                    </div>
                    <div class="card-footer">
                        <a routerLink="/login" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <p><img class="card-img-top" src="../assets/v-faq.jpg" alt="Card image cap"></p>
                    <div class="card-body">
                        <h5 class="card-title">Frequently Asked Questions</h5>
                        <p class="card-text">Find answer to the most common and frequent questions here</p>
                    </div>
                    <div class="card-footer">
                        <a routerLink="/FAQ" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
          </div>
    </section>
</div>
<!--Informational Service Ends-->

<!--License Service Starts-->
<!--div class="index-section">
    <section class="container py-3 bg-3" id="blog">
        <h3 class="margin text-center">License Related Services</h3><br>

        <div class="card-deck justify-content-center">
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
        </div>
    </section>
</div-->
<!--License Service ends-->
<!--Challan Service Starts-->
<!--div class="index-section bg-olive">
    <section class="container py-3 bg-3" id="blog">
        <h3 class="margin text-center text-white">Challan Related Services</h3><br>

        <div class="card-deck justify-content-center">
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
        </div>
    </section>
</div-->
<!--Challan Service ends-->
<!--Informational Service Starts-->
<!--div class="index-section">
    <section class="container py-3 bg-3" id="blog">
        <h3 class="margin text-center">Informational Services</h3><br>

        <div class="card-deck justify-content-center">
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
        </div>
    </section>
</div-->
<!--Informational Service ends-->