<app-indexcarousel></app-indexcarousel>
<app-marquee></app-marquee>
<!--License Service Starts-->
<div class="index-section">
    <section class="container-fluid py-3 bg-3" id="blog">
        <h3 class="margin text-center">License Related Services</h3><br>
        <div class="row">
            
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
          </div>
    </section>
</div>
<!--License Service Ends-->

<!--Challan Service Starts-->
<div class="index-section bg-olive">
    <section class="container-fluid py-3 bg-3" id="blog">
        <h3 class="margin text-center text-white">Challan Related Services</h3><br>
        <div class="row">
            
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
          </div>
    </section>
</div>
<!--Challan Service Ends-->

<!--Informational Service Starts-->
<div class="index-section">
    <section class="container-fluid py-3 bg-3" id="blog">
        <h3 class="margin text-center">Informational Services</h3><br>
        <div class="row">
            
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md my-3">
                <div class="card h-80 shadow mb-5 bg-white rounded">
                    <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
          </div>
    </section>
</div>
<!--Informational Service Ends-->

<!--License Service Starts-->
<!--div class="index-section">
    <section class="container py-3 bg-3" id="blog">
        <h3 class="margin text-center">License Related Services</h3><br>

        <div class="card-deck justify-content-center">
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
        </div>
    </section>
</div-->
<!--License Service ends-->
<!--Challan Service Starts-->
<!--div class="index-section bg-olive">
    <section class="container py-3 bg-3" id="blog">
        <h3 class="margin text-center text-white">Challan Related Services</h3><br>

        <div class="card-deck justify-content-center">
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
        </div>
    </section>
</div-->
<!--Challan Service ends-->
<!--Informational Service Starts-->
<!--div class="index-section">
    <section class="container py-3 bg-3" id="blog">
        <h3 class="margin text-center">Informational Services</h3><br>

        <div class="card-deck justify-content-center">
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card shadow mb-5 bg-white rounded">
                <img class="card-img-top" src="../assets/header.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
        </div>
    </section>
</div-->
<!--Informational Service ends-->