<!-- Page Content -->
<div id="page-content-wrapper">
    <app-user-dashboard-navbar></app-user-dashboard-navbar>
    <div class="container-fluid">
        <h1 class="mt-4">Application</h1>
        <ul>
            <li>All the fields except middle name is required.</li>
            <li>Mobile number should consists of 10 digits only. Do not put the country code here</li>
            <li>Vehicle number consists of 12 characters including <mark>-</mark>, alphabets and digits</li>
        </ul>
        <p>Submit button will be enabled once all the required fields are corectly entered</p>
    </div>

    <div class="container-fluid mb-4">
        <div class="card">
            <h4 class="card-header">Application Form</h4>
            <div class="card-body">
                <form [formGroup]="applicationForm">


                    <div class="form-row">
                        <!--ApplicationDate-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputApplicationDate">Application Date</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="applicationForm.controls['applicationDate'].invalid && (applicationForm.controls['applicationDate'].dirty || applicationForm.controls['applicationDate'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="applicationDate.errors?.required">Application Date is
                                                required.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="applicationForm.controls['applicationDate'].invalid && (applicationForm.controls['applicationDate'].dirty || applicationForm.controls['applicationDate'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <input formControlName="applicationDate" type="date" class="form-control"
                                id="inputApplicationDate" oninput="this.value = this.value.toUpperCase()">
                        </div>
                    </div>


                    <div class="form-row">
                        <!--Mode Of Payment-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputModeOfPayment">Payment Mode</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="applicationForm.controls['modeOfPayment'].invalid && (applicationForm.controls['modeOfPayment'].dirty || applicationForm.controls['modeOfPayment'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="modeOfPayment.errors?.required">Mode of payment is
                                                required.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="applicationForm.controls['modeOfPayment'].invalid && (applicationForm.controls['modeOfPayment'].dirty || applicationForm.controls['modeOfPayment'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <input formControlName="modeOfPayment" type="text" class="form-control"
                                id="inputModeOfPayment" oninput="this.value = this.value.toUpperCase()">
                        </div>


                        <!--Amount Paid-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="amountPaid">Amount Paid</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="applicationForm.controls['amountPaid'].invalid && (applicationForm.controls['amountPaid'].dirty || applicationForm.controls['amountPaid'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="amountPaid.errors?.required">Mode of payment is
                                                required.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="applicationForm.controls['amountPaid'].invalid && (applicationForm.controls['amountPaid'].dirty || applicationForm.controls['amountPaid'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>

                            </div>
                            <input formControlName="amountPaid" type="number" class="form-control" id="inputAmountPaid">
                        </div>
                    </div>


                    <div class="form-row">

                        <!--Payment Status-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="paymentStatus">Payment Status</label>
                                </div>

                            </div>
                            <input formControlName="paymentStatus" type="text" class="form-control" id="paymentStatus"
                                oninput="this.value = this.value.toUpperCase()">
                        </div>
                    </div>






                    <div class="form-row">

                        <!--Application Status-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="inputGender4">Application Status</label>
                                </div>

                            </div>
                            <select formControlName="applicationStatus" class="form-control custom-select mr-sm-2"
                                id="inputApplicationStatus">
                                <option selected disabled>Choose...</option>
                                <option *ngFor="let enum of applicationStatusList | keyvalue" value="{{enum.value}}">
                                    {{ enum.value}}
                                </option>
                            </select>
                        </div>

                        <!--License Type-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="inputGender4">License Type</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="applicationForm.controls['applicationType'].invalid && (applicationForm.controls['applicationType'].dirty || applicationForm.controls['applicationType'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="applicationType.errors?.required">Application type is
                                                required.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="applicationForm.controls['applicationType'].invalid && (applicationForm.controls['applicationType'].dirty || applicationForm.controls['applicationType'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <select formControlName="applicationType" class="form-control custom-select mr-sm-2"
                                id="inputapplicationType">
                                <option selected disabled>Choose...</option>
                                <option *ngFor="let enum of applicationTypeList | keyvalue" value="{{enum.value}}">
                                    {{ enum.value}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <div class="form-row">
                        <!--Remarks-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputRemarks">Remarks</label>
                                </div>

                            </div>
                            <textarea rows="3" formControlName="remarks" type="text" class="form-control"
                                id="inputRemarks"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <button type="submit" class="btn bg-olive text-white mb-2 mr-2">Save</button>
                            <button type="reset" class="btn bg-olive text-white mb-2 mr-2">Reset</button>
                            <button routerLink="/user-address" class="btn bg-olive text-white mb-2 mr-2">Next</button>
                        </div>

                        <div class="col">
                            <div class="form-signin alert alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>


                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>