<!--Form Starts-->
<div class="container my-4">


    <!-- Default form login -->
    <form class="form-signin border border-light shadow-lg p-4" action="#!">

        <p class="text-center h4 mb-4"><i class="bi bi-person-plus-fill"></i> User Sign Up</p>

        <!-- Username -->
        <label for="defaultRegisterFormUserName">Username</label>
        <input type="text" id="defaultRegisterFormUserName" class="form-control mb-4" placeholder="Enter username..."
            required>

        <!--Email-->
        <label for="defaultRegisterFormEmail">Username</label>
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Enter Email..."
            required>

        <!-- Password -->
        <label for="defaultregisterFormPassword">Password</label>
        <input type="password" id="defaultRegisterFormPassword" class="form-control mb-4" placeholder="Password..."
            required>

        <!-- Confirm Password -->
        <label for="defaultregisterFormConfirmPassword">Confirm Password</label>
        <input type="password" id="defaultRegisterFormConfirmPassword" class="form-control mb-4"
            placeholder="Confirm Password..." required>

        <!-- Username -->
        <!--div class="form-label-group">
            <input type="text" id="userRegisterFormUserName" class="form-control" placeholder="Enter username..." required autofocus>
            <label for="userRegisterFormUserName">Username</label>
        </div-->

        <!-- Email -->
        <!--div class="form-label-group">
            <input type="email" id="userRegisterFormEmail" class="form-control" placeholder="Email address..." required autofocus>
            <label for="userRegisterFormEmail">Email address</label>
        </div-->

        <!-- Password -->
        <!--div class="form-label-group">
            <input type="password" id="userRegisterFormPassword" class="form-control" placeholder="Password..." required>
            <label for="userRegisterFormPassword">Password</label>
        </div-->

        <!-- Confirm Password -->
        <!--div class="form-label-group">
            <input type="password" id="userRegisterFormConfirmPassword" class="form-control" placeholder="Confirm Password..." required>
            <label for="userRegisterFormConfirmPassword">Confirm Password</label>
        </div-->

        <!-- Sign Up button -->
        <button class="btn bg-olive text-white btn-block mt-4 mb-2" type="submit"><i class="bi bi-person-plus-fill"></i>
            Register</button>

        <!-- Register >
                    <p>Not a member?
                        <a href="">Register</a>
                    </p-->

        <!-- Social login >
                    <p>or sign in with:</p>

                    <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
                    <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
                    <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
                    <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>
                -->
    </form>
    <!-- Default form login -->



</div>
<!--Form ends-->