<!-- Page Content -->
<div id="page-content-wrapper">

    <!-- <app-rto-officer-dashboard-navbar></app-rto-officer-dashboard-navbar> -->

    <div class="container-fluid">
        <h1 class="my-4">Dashboard</h1>

    </div>

    <div class="container-fluid  mb-4">
        <div class="accordion" id="accordionExample">
            <!--Application info-->
            <div class="card">
                <h4 class="card-header bg-olive-dark text-white" id="headingThree">
                    <div class="row">
                        <div class="col">Applications</div>
                        <div class="col text-right">
                            <button class="btn btn-light text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="bi bi-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                </h4>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <ng-container *ngIf="isApplicationPresent; then thenTemplate; else elseTemplate"></ng-container>
                        <ng-template #thenTemplate>
                            <div class="datatable table-responsive">
                                <table class="table table-bordered table-hover" id="dataTable" width="100%"
                                    cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Application No</th>
                                            <th>Application Date</th>
                                            <th>Application Type</th>
                                            <th>Payment Status</th>
                                            <th>Application Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let appl of application">
                                            <td>{{appl.applicationNumber}}</td>
                                            <td>{{appl.applicationDate}}
                                            </td>
                                            <td>{{appl.applicationType}}</td>
                                            <td>{{appl.paymentStatus}}</td>
                                            <td>{{appl.applicationStatus}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                        <ng-template #elseTemplate>
                            <h5 class="display-5">No Applications Found</h5>
                        </ng-template>
                    </div>
                </div> 
            </div>


            <!--Appointment info-->
            <div class="card">
                <h4 class="card-header bg-olive-light text-white" id="headingFour">
                    <div class="row">
                        <div class="col">Appointment</div>
                        <div class="col text-right">
                            <button class="btn btn-light text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <i class="bi bi-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                </h4>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <ng-container *ngIf="isAppointmentPresent; then thenTemplate2; else elseTemplate2"></ng-container>
                        <ng-template #thenTemplate2>
                            <div class="datatable table-responsive">
                                <table class="table table-bordered table-hover" id="dataTable" width="100%"
                                    cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Appointment No</th>
                                            <th>Test Date</th>
                                            <th>Time Slot</th>
                                            <th>Test Result</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let appnt of appointment">
                                            <td>{{appnt.appointmentNumber}}
                                            </td>
                                            <td>{{appnt.testDate}}</td>
                                            <td>{{appnt.timeSlot}}</td>
                                            <td>{{appnt.testResult}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                        <ng-template #elseTemplate2>
                            <h5 class="display-5">No Appointments Found</h5>
                        </ng-template>
                    </div>
                </div>
            </div>


            <!--License info-->
            <div class="card">
                <h4 class="card-header bg-olive-dark text-white" id="headingFive">
                    <div class="row">
                        <div class="col">License</div>
                        <div class="col text-right">
                            <button class="btn btn-light text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <i class="bi bi-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                </h4>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <p class="display-5">No Licenses Issued yet</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->
