<div class="container my-4">
    <h1 class="mb-4">Privacy Policy</h1>
    <p class="mb-5">Thanks for visiting this website and reviewing our privacy policy.
<br>
<br>
        We collect no personal information, like names or addresses, when you visit our website. If you choose to provide that information to us, it is only used to fulfill your request for information.
        <br><br>
        We do collect some technical information when you visit to make your visit seamless. The section below explains how we handle and collect technical information when you visit our website.
    </p>
</div>
