<!-- Page Content -->
<div id="page-content-wrapper">

    <div class="container-fluid">
        <h1 class="mt-4">Admin Dashboard</h1>
    </div>

    <div class="container-fluid  mb-4">
        <div class="accordion" id="accordionExample">
            <!--Add RTO Office-->
            <div class="card">
                <h4 class="card-header bg-olive-dark text-white" id="headingOne">
                    <div class="row">
                        <div class="col">Add RTO</div>
                        <div class="col text-right">
                            <button class="btn btn-light text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="bi bi-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                </h4>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <form [formGroup]="rtoForm" class="form-inline">
                                    <div class="form-group mx-sm-3 mb-2">
                                        <label for="rto-office" class="sr-only">Name of the RTO Office</label>
                                        <input formControlName="rtoOffice" type="text" class="form-control"
                                            id="rto-office" placeholder="RTO Office Name"
                                            oninput="this.value = this.value.toUpperCase()">
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-2" [disabled]="rtoForm.invalid"
                                        (click)="addRtoOffice()">Add RTO</button>
                                </form>
                            </div>
                            <div class="col">
                                <div class="alert alert-dismissible fade show text-center"
                                    [ngClass]="responseStatus  == 500 ?  'alert-danger ' : responseStatus  == 200 ?  'alert-success ' : 'alert-info'"
                                    role="alert" *ngIf="rtoFormSubmitted">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                        (click)="rtoFormSubmitted=false;refresh();">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <div *ngIf="responseStatus  == 500;"><strong>Internal Sever Error</strong></div>
                                    <div *ngIf="responseStatus  != 500;"><strong>{{responseString}}</strong></div>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>


            <!--Add RTO Officer-->
            <div class="card">
                <h4 class="card-header bg-olive-light text-white" id="headingTwo">
                    <div class="row">
                        <div class="col">Add RTO Officer</div>
                        <div class="col text-right">
                            <button class="btn btn-light text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="bi bi-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                </h4>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <form [formGroup]="regForm" class="form-signin border border-light shadow-lg p-4"
                            (ngSubmit)="onSubmit()" novalidate>
                            <p class="text-center h4 mb-4">
                                <i class="bi bi-person-plus-fill"></i> Add RTO Officer
                            </p>
                            <!--Select RTO Office-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <label for="defaultRegisterFormRTO">RTO Office</label>
                                    </div>
                                    <div class="col">
                                        <div *ngIf="regForm.controls['rtoOfficeVal'].invalid &&(regForm.controls['rtoOfficeVal'].dirty || regForm.controls['rtoOfficeVal'].touched)"
                                            class="text-danger text-right">
                                            <small class="">
                                                <strong *ngIf="rtoOfficeVal.errors?.required">RTO office is
                                                    required.</strong>
                                            </small>
                                        </div>
                                        <div *ngIf="regForm.controls['rtoOfficeVal'].valid &&(regForm.controls['rtoOfficeVal'].dirty || regForm.controls['rtoOfficeVal'].touched)"
                                            class="text-success text-right">
                                            <small>
                                                <strong><i class="bi bi-check-lg"></i></strong>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <select formControlName="rtoOfficeVal" class="form-control custom-select mr-sm-2"
                                    id="defaultRegisterFormRTO">
                                    <option selected disabled>Choose...</option>
                                    <option *ngFor="let rto of rtoOfficeMap | keyvalue" value="{{rto.key}}">
                                        {{ rto.value }}
                                    </option>
                                </select>
                            </div>

                            <!-- Username -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <label for="defaultRegisterFormUserName">Username</label>
                                    </div>
                                    <div class="col">
                                        <div *ngIf="regForm.controls['username'].invalid &&(regForm.controls['username'].dirty || regForm.controls['username'].touched)"
                                            class="text-danger text-right">
                                            <small class="">
                                                <strong *ngIf="username.errors?.pattern">Username format is
                                                    invalid.</strong>
                                                <strong *ngIf="username.errors?.required">Username is required.</strong>
                                            </small>
                                        </div>
                                        <div *ngIf="regForm.controls['username'].valid &&(regForm.controls['username'].dirty || regForm.controls['username'].touched)"
                                            class="text-success text-right">
                                            <small>
                                                <strong><i class="bi bi-check-lg"></i></strong>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <input formControlName="username" type="text" id="defaultRegisterFormUserName"
                                    class="form-control" placeholder="Enter username..." />
                                <small id="usernameHelpBlock" class="form-text text-muted">
                                    Your username must be 6-20 characters long, contain letters and numbers, and must
                                    not contain spaces,
                                    emoji or
                                    special characters other than <mark> . </mark> , <mark> - </mark> , <mark> _ </mark>
                                    eg. Dibyendu_12
                                </small>
                            </div>

                            <!--Email-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <label for="defaultRegisterFormEmail">Email</label>
                                    </div>
                                    <div class="col">
                                        <div *ngIf="regForm.controls['email'].invalid &&(regForm.controls['email'].dirty || regForm.controls['email'].touched)"
                                            class="text-danger text-right">
                                            <small>
                                                <strong *ngIf="email.errors?.email">Email format is invalid.</strong>
                                                <strong *ngIf="email.errors?.required">Email is required.</strong>
                                            </small>
                                        </div>
                                        <div *ngIf="regForm.controls['email'].valid &&(regForm.controls['email'].dirty || regForm.controls['email'].touched)"
                                            class="text-success text-right">
                                            <small>
                                                <strong><i class="bi bi-check-lg"></i></strong>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <input formControlName="email" type="email" id="defaultRegisterFormEmail"
                                    class="form-control" placeholder="Enter Email..." />
                            </div>

                            <!-- Password -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <label for="defaultRegisterFormPassword">Password</label>
                                    </div>
                                    <div class="col">
                                        <div *ngIf="regForm.controls['password'].invalid && (regForm.controls['password'].dirty || regForm.controls['password'].touched)"
                                            class="text-danger text-right">
                                            <small>
                                                <strong *ngIf="password.errors?.pattern">Password format is
                                                    invalid.</strong>
                                                <strong *ngIf="password.errors?.required">Password is required.</strong>
                                            </small>
                                        </div>
                                        <div *ngIf="regForm.controls['password'].valid &&(regForm.controls['password'].dirty || regForm.controls['password'].touched)"
                                            class="text-success text-right">
                                            <small>
                                                <strong><i class="bi bi-check-lg"></i></strong>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group" id="show_hide_regUser_password">
                                    <input formControlName="password" type="password" id="defaultRegisterFormPassword"
                                        class="form-control" placeholder="Password..." />
                                    <div class="input-group-text">
                                        <a><i class="bi bi-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                </div>

                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    Your password must be 8-20 characters long, contain letters and numbers, and must
                                    not contain spaces,
                                    emojis or
                                    special characters other than <mark> @ </mark>, <mark> # </mark>, <mark> %</mark>,
                                    <mark> & </mark>,
                                    <mark> + </mark>, <mark> = </mark>.
                                </small>
                            </div>

                            <!-- Confirm Password -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <label for="defaultRegisterFormConfirmPassword">Confirm Password</label>
                                    </div>
                                    <div class="col">
                                        <div *ngIf="regForm.controls['confirmPassword'].invalid && (regForm.controls['confirmPassword'].dirty || regForm.controls['confirmPassword'].touched)"
                                            class="text-danger text-right">
                                            <small>
                                                <strong *ngIf="confirmPassword.errors?.pattern">Passwords
                                                    do not match</strong>
                                                <strong *ngIf="confirmPassword.errors?.required">Confirm password is
                                                    required.</strong>
                                            </small>
                                        </div>
                                        <div *ngIf="regForm.controls['confirmPassword'].valid &&(regForm.controls['confirmPassword'].dirty || regForm.controls['confirmPassword'].touched)"
                                            class="text-success text-right">
                                            <small>
                                                <strong><i class="bi bi-check-lg"></i></strong>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group" id="show_hide_regUser_confirm_password">
                                    <input formControlName="confirmPassword" type="password"
                                        id="defaultRegisterFormConfirmPassword" class="form-control"
                                        placeholder="Confirm Password..." pattern="{{password.value}}" />
                                    <div class="input-group-text">
                                        <a><i class="bi bi-eye-slash" aria-hidden="true"></i></a>
                                    </div>
                                </div>

                            </div>

                            <!-- Sign Up button -->
                            <button class="btn bg-olive text-white btn-block mt-4 mb-2" type="submit"
                                [disabled]="regForm.invalid">
                                <i class="bi bi-person-plus-fill"></i> Register
                            </button>

                            <!-- Social login >
                    <p>or sign in with:</p>

                    <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
                    <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
                    <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
                    <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>
                -->

                        </form>
                        <div class="form-signin alert alert-dismissible fade show"
                            [ngClass]="responseStatus  == 500 ?  'alert-danger ' : responseStatus  == 200 ?  'alert-success ' : 'alert-info'"
                            role="alert" *ngIf="regFormSubmitted">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <div *ngIf="responseStatus  == 500;"><strong>Internal Sever Error</strong></div>
                            <div *ngIf="responseStatus  != 500;"><strong>{{responseString}}</strong></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>