<div class="container my-4">
    <h1 class="mb-4">Hyperlink Policy</h1>
    <p class="mb-5">We do not object to you linking directly to the information that is hosted on our site and no prior permission is required for the same. However, we would like you to inform us about any links provided to our site so that you can be informed of any changes or updations therein. Also, we do not permit our pages to be loaded into frames on your site. Our Department's pages must load into a newly opened browser window of the user.</p>
</div>
