    <!--Contact Section starts-->
    <section class="container my-4">
        <h3>Types Of Permit And Its Condition</h3>
        <h4>Permits for Goods Vehicles</h4>
        <h5>Goods Carrier Permits :</h5>
        <p>Such permit is granted under Section 79 of the Motor Vehicles Act,1988, to a goods vehicle operating within the state. Permits granted to a particular vehicle for carrying a particular load has to be plied for that particular area only.</p>
        
        <h5>Counter Signatures of Goods Carrier permits:</h5>
        <p>These are the permits which are initially issued by one state and later on endorsed in another state by the concerned State or Regional Transport Authority under section 88 of Motor Vehicle Act, 1988. In view of the Delhi Government Notification number F. PA/JCV/OPS/Tpt./1613/05/1447 dated 5th January 2006, counter signatures are not being done under section 88 of Motor Vehicle Act, 1988 for those goods vehicle registered in other states and having a gross vehicle weight upto 7500 kg. if not running on clean fuel.</p>

        <h5>National Permits :</h5>
        <p>National permits are issued to goods vehicles to enable them to go outside the home state. National Permit is issued for a minimum of four continuous states (including the home state) under rule 86 & 87 of Central Motor Vehicles Rules, 1989. For obtaining such permits the maximum age of a particular vehicle should not exceed 12 years. However, maximum age in case of a multi-axle vehicle should not exceed 15 years. For the issue of National Permit, applicant has to apply on form 46 and 48 along with other formalities</p>
      
    </section>
    <!--Contact Section Ends-->