<div id="page-content-wrapper">

    <app-user-dashboard-navbar></app-user-dashboard-navbar>

    <div class="container-fluid">
        <h1 class="mt-4">Profile</h1>
        <ul>
            <li>All the fields except middle name is required.</li>
            <li>Mobile number should consists of 10 digits only. Do not put the country code here</li>
            <li>Vehicle number consists of 12 characters including <mark>-</mark>, alphabets and digits</li>
        </ul>
        <p>Submit button will be enabled once all the required fields are corectly entered</p>
    </div>

    <div class="container-fluid mb-4">
        <div class="card">
            <h4 class="card-header">Profile</h4>
            <div class="card-body">
                <form [formGroup]="applicantForm">
                    <div class="form-row">
                        <!--First Name-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputFirstName4">First Name</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="applicantForm.controls['firstName'].invalid &&(applicantForm.controls['firstName'].dirty || applicantForm.controls['firstName'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="firstName.errors?.required">Firstname is required.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="applicantForm.controls['firstName'].valid &&(applicantForm.controls['firstName'].dirty || applicantForm.controls['firstName'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <input formControlName="firstName" type="text" class="form-control" id="inputFirstName4"
                                oninput="this.value = this.value.toUpperCase()">
                        </div>
                        <!--Middle Name-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputMiddlename4">Middle Name</label>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                            <input formControlName="middleName" type="text" class="form-control" id="inputMiddleName4"
                                oninput="this.value = this.value.toUpperCase()">
                        </div>
                        <!--Last Name-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputLastName4">Last Name</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="applicantForm.controls['lastName'].invalid &&(applicantForm.controls['lastName'].dirty || applicantForm.controls['lastName'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="lastName.errors?.required">Lastname is required.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="applicantForm.controls['lastName'].valid &&(applicantForm.controls['lastName'].dirty || applicantForm.controls['lastName'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <input formControlName="lastName" type="text" class="form-control" id="inputLastName4"
                                oninput="this.value = this.value.toUpperCase()">
                        </div>
                    </div>
                    <div class="form-row">
                        <!--Date of birth-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputDateOfBirth4">Date of Birth</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="applicantForm.controls['dateOfBirth'].invalid &&(applicantForm.controls['dateOfBirth'].dirty || applicantForm.controls['dateOfBirth'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="dateOfBirth.errors?.required">Date of birth is
                                                required.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="applicantForm.controls['dateOfBirth'].valid &&(applicantForm.controls['dateOfBirth'].dirty || applicantForm.controls['dateOfBirth'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <input formControlName="dateOfBirth" type="date" class="form-control"
                                id="inputDateOfBirth4">
                        </div>
                        <!--Place of birth-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputPlaceOfBirth4">Place of Birth</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="applicantForm.controls['placeOfBirth'].invalid &&(applicantForm.controls['placeOfBirth'].dirty || applicantForm.controls['placeOfBirth'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="placeOfBirth.errors?.required">Place of birth is
                                                required.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="applicantForm.controls['placeOfBirth'].valid &&(applicantForm.controls['placeOfBirth'].dirty || applicantForm.controls['placeOfBirth'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <input formControlName="placeOfBirth" type="text" class="form-control"
                                id="inputPlaceOfBirth4" oninput="this.value = this.value.toUpperCase()">
                        </div>
                        <!--Gender-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputGender4">Gender</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="applicantForm.controls['gender'].invalid &&(applicantForm.controls['gender'].dirty || applicantForm.controls['gender'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="gender.errors?.required">Gender is required.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="applicantForm.controls['gender'].valid &&(applicantForm.controls['gender'].dirty || applicantForm.controls['gender'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <select formControlName="gender" class="form-control custom-select mr-sm-2"
                                id="inputGender4">
                                <option selected disabled>Choose...</option>
                                <option *ngFor="let enum of genderList | keyvalue" value="{{enum.value}}">
                                    {{ enum.value}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <!--Qualification-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputQualification4">Qualification</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="applicantForm.controls['qualification'].invalid &&(applicantForm.controls['qualification'].dirty || applicantForm.controls['qualification'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="qualification.errors?.required">Qualification is
                                                required.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="applicantForm.controls['qualification'].valid &&(applicantForm.controls['qualification'].dirty || applicantForm.controls['qualification'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <select formControlName="qualification" class="form-control custom-select mr-sm-2"
                                id="inputQualification4">
                                <option selected disabled>Choose...</option>
                                <option value="12 or above">12 or above</option>
                                <option value="Graduated or above">Graduated or above</option>
                            </select>
                        </div>
                        <!--Mobile-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputContact4">Mobile</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="applicantForm.controls['mobile'].invalid &&(applicantForm.controls['mobile'].dirty || applicantForm.controls['mobile'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="mobile.errors?.required">Mobile number is required.</strong>
                                            <strong *ngIf="mobile.errors?.pattern">Mobile number should consists of 10
                                                digits only.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="applicantForm.controls['mobile'].valid &&(applicantForm.controls['mobile'].dirty || applicantForm.controls['mobile'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <input formControlName="mobile" type="tel" class="form-control" id="inputContact4">
                        </div>
                        <!--Nationality-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputnationality4">Nationality</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="applicantForm.controls['nationality'].invalid &&(applicantForm.controls['nationality'].dirty || applicantForm.controls['nationality'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="nationality.errors?.required">Nationality is
                                                required.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="applicantForm.controls['nationality'].valid &&(applicantForm.controls['nationality'].dirty || applicantForm.controls['nationality'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <select formControlName="nationality" class="form-control custom-select mr-sm-2"
                                id="inputNationality4">
                                <option selected disabled>Choose...</option>
                                <option *ngFor="let nation of nationList" value="{{nation}}">
                                    {{ nation }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <!--Vehicle Type-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputVehicleType4">Vehicle type</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="applicantForm.controls['vehicleType'].invalid &&(applicantForm.controls['vehicleType'].dirty || applicantForm.controls['vehicleType'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="vehicleType.errors?.required">Vehicle type is
                                                required.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="applicantForm.controls['vehicleType'].valid &&(applicantForm.controls['vehicleType'].dirty || applicantForm.controls['vehicleType'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <select formControlName="vehicleType" class="form-control custom-select mr-sm-2"
                                id="inputVehicleType4">
                                <option selected disabled>Choose...</option>
                                <option value="Gearless">Gearless</option>
                                <option value="Light motor">Light Motor</option>
                                <option value="Heavy motor">Heavy Motor</option>
                            </select>
                        </div>
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputVehicleNumber4">Vehicle Number</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="applicantForm.controls['vehicleNumber'].invalid &&(applicantForm.controls['vehicleNumber'].dirty || applicantForm.controls['vehicleNumber'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="vehicleNumber.errors?.required">Vehicle Number is
                                                required.</strong>
                                            <strong *ngIf="vehicleNumber.errors?.pattern">Vehicle Number consists of 12
                                                characters.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="applicantForm.controls['vehicleNumber'].valid &&(applicantForm.controls['vehicleNumber'].dirty || applicantForm.controls['vehicleNumber'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <input formControlName="vehicleNumber" type="text" class="form-control"
                                id="inputVehicleNumber4">
                        </div>
                    </div>
                    <div class="row">
                        <!--buttons-->
                        <div class="col-3">
                            <button type="submit" class="btn bg-olive text-white mb-2 mr-2" *ngIf="!isPresent"
                                [disabled]="applicantForm.invalid" (click)="addApplicant()">Save</button>
                            <button type="submit" class="btn bg-olive text-white mb-2 mr-2" *ngIf="isPresent"
                                [disabled]="applicantForm.invalid" (click)="updateApplicant()">Update</button>
                            <button type="reset" class="btn bg-olive text-white mb-2 mr-2">Reset</button>
                            <button routerLink="/user-address" class="btn bg-olive text-white mb-2 mr-2">Next</button>
                        </div>

                        <!--Messages-->
                        <div class="col">
                            <div class="form-signin alert alert-dismissible fade show"
                                [ngClass]="applicantResponseStatus  == 500 ?  'alert-danger ' : applicantResponseStatus  == 200 ?  'alert-success ' : 'alert-info'"
                                role="alert" *ngIf="applicantFormSubmitted">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                    (click)="applicantFormSubmitted=false;">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <div *ngIf="applicantResponseStatus  == 500;"><strong>Internal Sever Error</strong>
                                </div>
                                <div *ngIf="applicantResponseStatus  != 500;">
                                    <strong>{{applicantFormResponseString}}</strong></div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid">
   <div class="card mb-4">
    <div class="card-header">All Pages</div>
    <div class="card-body">
        <div class="datatable table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Page Title</th>
                        <th>Page Details</th>
                        <th>Views</th>
                        <th>Created By</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <a href="#">
                                Lifestyle
                            </a>
                        </td>
                        <td>Details</td>
                        <td>61</td>
                        <td>Md. A. Barik</td>
                        <td>
                            <div class="badge badge-success">Published
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-blue btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit">
                                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                </svg></button>
                        </td>
                        <td>
                            <button class="btn btn-red btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                                    <polyline points="3 6 5 6 21 6"></polyline>
                                    <path
                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                    </path>
                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                </svg></button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <a href="#">
                                Loved
                            </a>
                        </td>
                        <td>Details</td>
                        <td>61</td>
                        <td>Md. A. Barik</td>
                        <td>
                            <div class="badge badge-success">Published
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-blue btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit">
                                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                </svg></button>
                        </td>
                        <td>
                            <button class="btn btn-red btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                                    <polyline points="3 6 5 6 21 6"></polyline>
                                    <path
                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                    </path>
                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                </svg></button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <a href="#">
                                Programming
                            </a>
                        </td>
                        <td>Details</td>
                        <td>61</td>
                        <td>Md. A. Barik</td>
                        <td>
                            <div class="badge badge-success">Published
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-blue btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit">
                                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                </svg></button>
                        </td>
                        <td>
                            <button class="btn btn-red btn-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                                    <polyline points="3 6 5 6 21 6"></polyline>
                                    <path
                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                    </path>
                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                </svg></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 
</div> -->