<div id="page-content-wrapper">
    <app-user-dashboard-navbar></app-user-dashboard-navbar>

    <div class="container-fluid">
        <h1 class="mt-4">Documents</h1>
        <ul>
            <li>All the documents are required.</li>
            
        </ul>
        <p>Submit button will be enabled once all the required fields are corectly entered</p>
    </div>



    <div class="container-fluid mb-4">
        <div class="card">
            <h4 class="card-header">Upload Documents </h4>
            <div class="card-body">
                <form [formGroup]="documentForm">

                    <div class="form-row">
                        <!--Photo-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputPhoto">Upload Photo</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="documentForm.controls['photo'].invalid && (documentForm.controls['photo'].dirty || documentForm.controls['photo'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="photo.errors?.required">Photo is
                                                required.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="documentForm.controls['photo'].invalid && (documentForm.controls['photo'].dirty || documentForm.controls['photo'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <input formControlName="photo" type="file" ng2FileSelect accept=".jpg,.jpeg,.png" class="form-control-file"
                                id="inputPhoto" >
                            
                        </div>
                    </div>

                    <div class="form-row">
                        <!--Id Proof-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputIdProof">Upload Id Proof(Aadhar/Pan/Voter)</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="documentForm.controls['idProof'].invalid && (documentForm.controls['idProof'].dirty || documentForm.controls['idProof'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="idProof.errors?.required">Id Proof is
                                                required.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="documentForm.controls['idProof'].invalid && (documentForm.controls['idProof'].dirty || documentForm.controls['idProof'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <input formControlName="idProof" type="file" ng2FileSelect accept=".pdf,.doc" class="form-control-file"
                                id="inputIdProof" >
                            
                        </div>
                    </div>



                    <div class="form-row">
                        <!--Address Proof-->
                        <div class="form-group col-md">
                            <div class="row">
                                <div class="col">
                                    <label for="inputaddressProof">Upload Address Proof</label>
                                </div>
                                <div class="col">
                                    <div *ngIf="documentForm.controls['addressProof'].invalid && (documentForm.controls['addressProof'].dirty || documentForm.controls['addressProof'].touched)"
                                        class="text-danger text-right">
                                        <small>
                                            <strong *ngIf="addressProof.errors?.required">Address Proof is
                                                required.</strong>
                                        </small>
                                    </div>
                                    <div *ngIf="documentForm.controls['addressProof'].invalid && (documentForm.controls['addressProof'].dirty || documentForm.controls['addressProof'].touched)"
                                        class="text-success text-right">
                                        <small>
                                            <strong><i class="bi bi-check-lg"></i></strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <input formControlName="addressProof" type="file" ng2FileSelect accept=".pdf,.doc" class="form-control-file"
                                id="inputaddressProof" >
                            
                        </div>
                    </div>

                    

                    <div class="row">
                        <div class="col-3">
                            <button type="submit" class="btn bg-olive text-white mb-2 mr-2" *ngIf="!isPresent"
                                [disabled]="documentForm.invalid" (click)="addDocument()">Save</button>
                            <button type="submit" class="btn bg-olive text-white mb-2 mr-2" *ngIf="isPresent"
                                [disabled]="documentForm.invalid" (click)="updateDocument()">Update</button>
                            <button type="reset" class="btn bg-olive text-white mb-2 mr-2">Reset</button>
                            <button routerLink="/user-documents" class="btn bg-olive text-white mb-2 mr-2">Next</button>
                        </div>

                        <div class="col">
                            <div class="form-signin alert alert-dismissible fade show"
                                [ngClass]="documentResponseStatus  == 500 ?  'alert-danger ' : documentResponseStatus  == 200 ?  'alert-success ' : 'alert-info'"
                                role="alert" *ngIf="documentsSubmitted">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                    (click)="documentsSubmitted=false;">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <div *ngIf="documentResponseStatus  == 500;"><strong>Internal Sever Error</strong>
                                </div>
                                <div *ngIf="documentResponseStatus  != 500;">
                                    <strong>{{documentFormResponseString}}</strong></div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>


</div>